<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  th:lang="${#locale.language}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
<title>Insert title here</title>
</head>
<body>
<div class="footer" th:fragment="footer">
	Powered by <a href="https://newsapi.org">NewsAPI.org</a>
</div>
</body>
</html>