<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  th:lang="${#locale.language}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
	<title>Insert title here</title>
</head>
<body>


	<div class="topnav" th:fragment="topnavigation">
		<a th:href="@{/news/all}"><div th:text="#{nav.home}">Home</div></a>
		<a th:href="@{/news/category/technology}"><div th:text="#{nav.technology}">Technology</div></a>
		<a th:href="@{/news/category/business}"><div th:text="#{nav.business}">Business</div></a>
		<a th:href="@{/news/category/sports}"><div th:text="#{nav.sports}">Sports</div></a>
		<a th:href="@{/news/category/health}"><div th:text="#{nav.health}">Health</div></a>
		<a th:href="@{/news/category/science}"><div th:text="#{nav.science}">Science</div></a>
		<a th:href="@{/news/category/entertainment}"><div th:text="#{nav.entertainment}">Entertainment</div></a>
		<a th:href="@{/news/category/general}"><div th:text="#{nav.general}">General</div></a>
		<a th:href="@{/contact/writeus}"><div th:text="#{nav.contact}">Contact</div></a>
		
	</div>


</body>
</html>