<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  th:lang="${#locale.language}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
	<title>Insert title here</title>
</head>
<body>
		<div class="main" th:fragment="mainsection(articles)">
			<a th:each="article : ${articles}" th:href="${article.url}">
				<div >
					<h3 class="article-title" th:text="${article.title}">Title</h3>
					
					<div class="article-content" th:text="${article.description}" >Content</div>
					<div class="article-img-container" >
						<img class="article-img" th:src="${article.urlToImage}">
					</div>
					
				</div>
			</a>
			
		</div>
</body>
</html>