@CHARSET "UTF-8";


div.container > form > span.error-message {
	color: red;
    text-align: center;
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
}

#error-message {
	color: red;
    text-align: center;
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
}

.message-title-bigcontainer{
	margin-top:40px;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-areas: "title";
}

.message-creating-title-container{ 
	grid-area:title;
	justify-self:center;
 	color:black;
	width: 40%;
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5));
}

.message-creating-title-shape{ 
	width:100%;
    height: 65px;
	-webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
	clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
	background-color:#00bfa5;
}

.message-creating-title-text{ 
	grid-area:title;
	z-index:80;
	text-align:center;
	text-transform:uppercase;
	color:white;
}

.submit-button{ 
    border: none;
    display: block;
    width: 200px;
    margin: auto;
    background-color:#00bfa5;
    color:white;
}

.submit-button:hover{ 
    background-color:#008E76;
    cursor:pointer;
}

.container 		{ 
  font-family:'Roboto';
  width:500px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:500px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#00bfa5;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:500px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#00bfa5; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#00bfa5; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#00bfa5; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#00bfa5; }
  to 	{ width:0; background:transparent; }
}