@CHARSET "UTF-8";

.body-general{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.grid-container{
	position: relative;
	top:40px;
	background-color:#5df2d6;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: 70px auto;
	grid-template-areas: 
		"title"
    	"main"
    	"footer";
}

.title-shape-container {
	grid-area:title;
	justify-self: center;
	width: 40%;
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5));
}

.title-text {
	text-align:center;
	text-transform:uppercase;
	color:white;
	grid-area:title;
	z-index:80;
}

.title-shape{
	width:100%;
    height: 65px;
	-webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
	clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
	background-color:#00bfa5;
}

.main {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	margin-left:10px;
	margin-right:10px;
	
}

.main > a {
	display:block;
	background-color:#00bfa5;
	flex-grow : 1;
	flex-basis:25%;
	margin: 10px; 
	color:white;
	text-decoration:none;
	box-shadow: 0px 1px 4px grey;
	padding-bottom: 0.4em;
}

.main > a > div {	
	display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-between;
}

.main > a:hover > div > h3.article-title{
	background-color: rgba(0,56,46,0.45);
}

.main > a:hover{
	background-color: #00a895;
}




.article-title {
	
	background-color: rgba(0,56,46,0.2);
	padding: 0.4em;
    margin-block-end: 0.5em;
    margin-block-start: 0;
}

.article-content{
	padding: 0.4em;
}

.footer{
	grid-area:footer;
	margin: 10px;
    padding: 10px;
}
	
.topnav {
	position: fixed;
	top:0;
	right:0;
	width:100%;
	height:40px;
	color:white;
	display:grid;
	grid-template-columns: repeat(9,1fr);
	box-shadow: 0px 2px 7px grey;
    z-index: 100; 
}

.topnav > a{
	display:block;
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	background-color:#00bfa5;
	text-transform:uppercase;
	vertical-align: middle;
	line-height:40px;
}

.topnav > a:hover{
	
	background-color:#008E76;
}

.article-img{
	 width:90%;
	 display: block;
     margin: 0.5em auto;
}

.article-img-container{
	
}

.big-thanks-text{
	text-transform:uppercase;
	margin-top: 150px;
    color: grey;
    text-align: center;
}
