<!DOCTYPE html>
<html  th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
	<title>Top News Site</title>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
	</style>
</head>
<body class=body-general>
	<div  th:replace="fragments/header :: topnavigation"></div>
	<div class="message-title-bigcontainer">
		<div class="message-creating-title-container">
			<div class="message-creating-title-shape" ></div>
		</div>
		<h2 class="message-creating-title-text"  th:text="#{message.writeus}" ></h2>
	</div>
	
	<div class="container">
	  <form action="#" method="post" th:action="@{/contact/writeus}" th:object="${msgData}">
	    <div class="group">      
	      <input type="text"  th:field="*{name}" th:errorclass="fieldError" required>
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label th:text="#{message.name}">Name</label>
	      <span id="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
	    </div>
	
	      
	    <div class="group">      
	      <input type="text" name="email" th:field="*{email}" th:errorclass="fieldError" required >
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label th:text="#{message.email}">Email</label>
	      <span id="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
	    </div>
	     
	    
	   	<div class="group">      
	      <input type="text" name="message" th:field="*{message}" th:errorclass="fieldError" required>
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label th:text="#{message.message}">Message</label>
	      <span id="error-message" th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Error</span>
	    </div>
	    
	   
	   	<input class="submit-button" type="submit" th:value="#{message.sendbutton}">
	   
	    
	    
	  </form>
	</div> 
</body>
</html>