<!DOCTYPE html>
<html  th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
	<title>Top News Site</title>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
	</style>
</head>
<body class=body-general>
	<div  th:replace="fragments/header :: topnavigation"></div>
	<h1 class="big-thanks-text" th:text="#{message.thanks}"></h1>

</body>
</html>